*.*

!.gitignore
!circle.yml
!pom.xml
!*.java
!*.md

!src/site/*.doxyfile
!src/site/*.htm*
!src/site/*.css
!src/site/*.xml
!src/site/*.xslt
!src/site/*.graffle

!src/analysis/**/*.xml
!src/analysis/**/*.txt
!src/analysis/**/*.md

/target/**
